# 3. lekce - Cvičení 1: Spojování

In [229]:
# Příprava DataFramu food_merged pro cvičení, pokud ho ještě nemáme připravený z lekce
import pandas as pd

# url_food_sample_100 = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/nacteni-dat/nacteni-dat/food_sample_100.csv"
# url_food_other = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/spojovani/pokrocile-upravy/food_other.csv"

food_sample_100 = pd.read_csv("data/food_sample_100.csv")
food_other = pd.read_csv("data/food_other.csv")
food_nutrient = pd.read_csv("data/food_nutrient.csv")

food = pd.concat([food_sample_100, food_other], ignore_index=True)
food_merged = pd.merge(food, food_nutrient, on="fdc_id", how="inner")

food_merged.head()

,fdc_id,data_type,description,food_category_id,publication_date,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19,1101,1.58,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,"Manganese, Mn",MG
1,2347263,sub_sample_food,heavy cream,1.0,2022-10-28,1258,20.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28,1102,21.80,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,"Molybdenum, Mo",UG
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01,1051,0.69,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Water,G
4,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01,1007,98.40,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Ash,G

## 1. Značky a výrobci

Stáhni si data z tabulky `branded_food.csv`, která obsahuje data o konkrétních potravinách od výrobců. Tabulku načti do `pandas` tabulky `branded_food`.

Pro tabulku `branded_food` splň následující úkoly.

_Nápověda: Na body 2 a 3 využij metodu, kterou jsme si již ukazovali v předchozí lekci. Její název se skládá ze dvou slov - anglického výrazu pro hodnotu a pro počet._

In [230]:
# url = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/spojovani/excs/znacky/branded_food.csv"
# branded_food = pd.read_csv(url)

branded_food = pd.read_csv("data/branded_food.csv")


1. Zobraz si prvních několik řádků tabulky a podívej se na to, jaké jsou v ní sloupce a jaké jsou v nich hodnoty.

In [231]:
branded_food.head(3)

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description
0,1106032,BRAKEBUSH BROTHERS INC.,NaN,NaN,10038034720202,INGREDIENTS: BONELESS CHICKEN BREAST MEAT WITH...,NaN,85.0,g,NaN,Meat/Poultry/Other Animals Prepared/Processed,GDSN,NaN,2020-09-03,2020-11-13,United States,NaN,NaN,NaN,NaN
1,1107191,Mahco Inc,NaN,NaN,877448001674,"TOMATO PUREE (TOMATOES), CARROTS, ONIONS, SUN-...",NaN,125.0,g,NaN,Prepared Pasta & Pizza Sauces,LI,NaN,2020-09-22,2020-11-13,United States,NaN,NaN,NaN,NaN
2,1107295,Hormel Foods Corporation,NaN,NaN,37600665605,MASA FLOUR (GROUND WHITE CORN WITH A TRACE OF ...,NaN,30.0,g,NaN,"Chips, Pretzels & Snacks",LI,NaN,2020-04-08,2020-11-13,United States,NaN,NaN,NaN,NaN


2. Ve sloupci `brand_owner` jsou názvy výrobců potravin. Zjisti tři výrobce s největším počtem potravin v tabulce.

In [232]:
branded_food["brand_owner"].value_counts()[:3]
# branded_food["brand_owner"].value_counts().head(3)

brand_owner
Wal-Mart Stores, Inc.    219
Target Stores            199
Meijer, Inc.             168
Name: count, dtype: int64



3. Ve sloupci `branded_food_category` jsou kategorie potravin. Zjisti pět kategorií s největším počtem potravin v tabulce.

In [233]:
branded_food["branded_food_category"].value_counts()[:5]
# branded_food["branded_food_category"].value_counts().head(5)

branded_food_category
Popcorn, Peanuts, Seeds & Related Snacks    504
Candy                                       415
Cheese                                      405
Ice Cream & Frozen Yogurt                   310
Cookies & Biscuits                          272
Name: count, dtype: int64

V tabulce je sloupec `fdc_id`, pomocí kterého ji můžeš propojit s tabulkou `food_merged`. 

Protože názvy jsou v obou tabulkách stejné, takže by bylo možné použít parametr `on`. Vyzkoušej si ale místo toho parametry `left_on` a `right_on`, kterým dáš stejnou hodnotu, tj. název sloupce `fdc_id`. 

Výsledek ulož do tabulky `food_merged_brands`.

In [234]:
# food_merged_brands = pd.merge(branded_food, food_merged, on="fdc_id")
food_merged_brands = pd.merge(branded_food, food_merged, left_on="fdc_id", right_on="fdc_id")
# ... pokud nevyplníme parametr "how", použije se výchozí hodnota inner

food_merged_brands.head()

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,household_serving_fulltext,...,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,379746,MARIN'S,NaN,NaN,33049105252,"CORN MEAL, VEGETABLE OIL (CONTAINS ONE OR MORE...",NaN,28.0,g,1 ONZ,...,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
1,379746,MARIN'S,NaN,NaN,33049105252,"CORN MEAL, VEGETABLE OIL (CONTAINS ONE OR MORE...",NaN,28.0,g,1 ONZ,...,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,Cholesterol,MG
2,379746,MARIN'S,NaN,NaN,33049105252,"CORN MEAL, VEGETABLE OIL (CONTAINS ONE OR MORE...",NaN,28.0,g,1 ONZ,...,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Energy,KCAL
3,379746,MARIN'S,NaN,NaN,33049105252,"CORN MEAL, VEGETABLE OIL (CONTAINS ONE OR MORE...",NaN,28.0,g,1 ONZ,...,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Iron, Fe",MG
4,379746,MARIN'S,NaN,NaN,33049105252,"CORN MEAL, VEGETABLE OIL (CONTAINS ONE OR MORE...",NaN,28.0,g,1 ONZ,...,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Vitamin C, total ascorbic acid",MG


Pro tabulku `food_merged_brands` splň následující úkoly.

1. U výsledné tabulky `food_merged_brands` zkontroluj počet řádků a srovnej ho s původní tabulkou `food_merged`. Ubyly nějaké řádky? A čím to je?

In [235]:
# Pro ověření si vypíšeme počty řádků a sloupců původních a spojených dat
print(f"Shape branded_food: {branded_food.shape}")
print(f"Shape food_merged: {food_merged.shape}")
print(f"Shape food_merged_brands (inner merge): {food_merged_brands.shape}")

Shape branded_food: (9541, 20)
Shape food_merged: (531, 17)
Shape food_merged_brands (inner merge): (315, 36)

2. Nyní proveď operaci merge znovu, ale s parametrem `how` nastaveným na hodnotu `left`. Zkontroluj počet řádků a porovnej ho s počtem řádků tabulky `food_merged_brands`. Proč se počet liší?

In [236]:
food_merged_brands = pd.merge(branded_food, food_merged, left_on="fdc_id", right_on="fdc_id", how="left")

print(f"Shape food_merged_brands (left merge): {food_merged_brands.shape}")

Shape food_merged_brands (left merge): (9833, 36)

**...Proč se počet liší?**
- `food_merged_brands` spojeno výchozí metodou `inner`
    - -> výsledek obsahuje pouze záznamy s fdc_id, která se shodují v obou vstupních tabulkách (průnik)
- `food_merged_brands` spojeno metodou `left`
    - -> výsledek obsahuje všechny záznamy z "levé" (první) vstupní tabulky plus záznamy s fdc_id, která se shodují v obou vstupních tabulkách

## 2. Přejmenování sloupce

Čím více tabulky propojujeme, tím více sloupců v nich máme. To může být časem až matoucí. 

Například máme v tabulce sloupec `name`, který označuje název výživné látky. 

Pro větší přehlednost ho přejmenujme na `nutrient_name`. K tomu slouží metoda `rename`. 

Níže je příklad toho, jak lze metodu použít. Pozorně si ho prohlédni. 

Metodu voláme pomocí tečkové notace, kterou už jsme využívali. 

```food_merged_brands = food_merged_brands.rename(columns={"stary_nazev": "novy_nazev"})```


Dále je potřeba zapsat název parametru (`columns`, protože chceme přejmenovat sloupce). Jako hodnotu vkládáme strukturu, která je označováno jako slovník. Jedná se o dvojici hodnot ve složených závorkách, která je oddělená dvojtečkou. Před dvojtečkou je starý název sloupce (v našem případě to bude name) a za dvojtečkou nový název sloupce (v našem případě to bude `nutrition_name`). Uprav tedy použití metody a spusť ho. Následně zkontroluj výsledek pomocí `.columns`.

In [237]:
print(f"Sloupce před: {food_merged_brands.columns}")

food_merged_brands = food_merged_brands.rename(columns={"name": "nutrient_name"})
# ... více sloupců najednou např. jako columns={"name": "nutrient_name", "amount": "nutrient_amount"}

print(f"Sloupce po: {food_merged_brands.columns}")

Sloupce před: Index(['fdc_id', 'brand_owner', 'brand_name', 'subbrand_name', 'gtin_upc',
       'ingredients', 'not_a_significant_source_of', 'serving_size',
       'serving_size_unit', 'household_serving_fulltext',
       'branded_food_category', 'data_source', 'package_weight',
       'modified_date', 'available_date', 'market_country',
       'discontinued_date', 'preparation_state_code', 'trade_channel',
       'short_description', 'data_type', 'description', 'food_category_id',
       'publication_date', 'nutrient_id', 'amount', 'data_points',
       'derivation_id', 'min', 'max', 'median', 'loq', 'footnote',
       'min_year_acquired', 'name', 'unit_name'],
      dtype='object')
Sloupce po: Index(['fdc_id', 'brand_owner', 'brand_name', 'subbrand_name', 'gtin_upc',
       'ingredients', 'not_a_significant_source_of', 'serving_size',
       'serving_size_unit', 'household_serving_fulltext',
       'branded_food_category', 'data_source', 'package_weight',
       'modified_date', 'available_date', 'market_country',
       'discontinued_date', 'preparation_state_code', 'trade_channel',
       'short_description', 'data_type', 'description', 'food_category_id',
       'publication_date', 'nutrient_id', 'amount', 'data_points',
       'derivation_id', 'min', 'max', 'median', 'loq', 'footnote',
       'min_year_acquired', 'nutrient_name', 'unit_name'],
      dtype='object')

Jako bonus se zamysli nad tím, co by se mohlo stát, pokud na místo starého názvu zadáš sloupec, který v tabulce není (např. test). 

Jaké chování bys od metody očekával(a)? Jakmile to budeš mít rozmyšlené, použij metodu s neexistujícím názvem sloupce a zkontroluj, co se stalo.

In [238]:
food_merged_brands = food_merged_brands.rename(columns={"test": "novy_nazev_pro_test"})

print(f"Sloupce po: {food_merged_brands.columns}")

# ... proběhne bez chyby, sloupce a jejich názvy se nezmění
# Toto výchozí chování lze změnit přidáním parametru errors="raise" do rename()

Sloupce po: Index(['fdc_id', 'brand_owner', 'brand_name', 'subbrand_name', 'gtin_upc',
       'ingredients', 'not_a_significant_source_of', 'serving_size',
       'serving_size_unit', 'household_serving_fulltext',
       'branded_food_category', 'data_source', 'package_weight',
       'modified_date', 'available_date', 'market_country',
       'discontinued_date', 'preparation_state_code', 'trade_channel',
       'short_description', 'data_type', 'description', 'food_category_id',
       'publication_date', 'nutrient_id', 'amount', 'data_points',
       'derivation_id', 'min', 'max', 'median', 'loq', 'footnote',
       'min_year_acquired', 'nutrient_name', 'unit_name'],
      dtype='object')

## 3. Odstranění sloupců

Pokud máme v tabulce zbytečné sloupce, můžeme je odstranit. 

Zbytečných sloupců se můžeme zbavit dvěma způsoby:

1. Výběrem sloupců, které v tabulce chceme. To už jsme si ukazovali v předchozí lekci v části "Výběr sloupců".
2. Odebráním sloupců, které v tabulce nechceme. K tomu slouží metoda `drop()`.


Níže je příklad použití metody `drop()`. Použijeme parametr `columns`, kterému zadáme seznam sloupců k odstranění.


```
food_merged_brands = food_merged_brands.drop(columns=["sloupec_1", "sloupec_2"])
```


Využij metodu k odstranění sloupců `footnote` a `min_year_acquired`.


Pomocí vlastnosti `.columns` zkontroluj výsledek.

In [239]:
# Vypíšeme si názvy sloupců před úpravou a po ní

# Tip: Pro přehlednost názvy sloupců seřadíme podle abecedy
print(f"Sloupce před: {food_merged_brands.columns.sort_values()}")

food_merged_brands_reduced = food_merged_brands.drop(columns=["footnote", "min_year_acquired"])

print(f"Sloupce po: {food_merged_brands_reduced.columns.sort_values()}")

Sloupce před: Index(['amount', 'available_date', 'brand_name', 'brand_owner',
       'branded_food_category', 'data_points', 'data_source', 'data_type',
       'derivation_id', 'description', 'discontinued_date', 'fdc_id',
       'food_category_id', 'footnote', 'gtin_upc',
       'household_serving_fulltext', 'ingredients', 'loq', 'market_country',
       'max', 'median', 'min', 'min_year_acquired', 'modified_date',
       'not_a_significant_source_of', 'nutrient_id', 'nutrient_name',
       'package_weight', 'preparation_state_code', 'publication_date',
       'serving_size', 'serving_size_unit', 'short_description',
       'subbrand_name', 'trade_channel', 'unit_name'],
      dtype='object')
Sloupce po: Index(['amount', 'available_date', 'brand_name', 'brand_owner',
       'branded_food_category', 'data_points', 'data_source', 'data_type',
       'derivation_id', 'description', 'discontinued_date', 'fdc_id',
       'food_category_id', 'gtin_upc', 'household_serving_fulltext',
       'ingredients', 'loq', 'market_country', 'max', 'median', 'min',
       'modified_date', 'not_a_significant_source_of', 'nutrient_id',
       'nutrient_name', 'package_weight', 'preparation_state_code',
       'publication_date', 'serving_size', 'serving_size_unit',
       'short_description', 'subbrand_name', 'trade_channel', 'unit_name'],
      dtype='object')

Nakonec se podobně jako v předchozím cvičení zamysli nad tím, co by se mohlo stát, kdybys do seznamu vložila neexistující název sloupce, například test. 

Poté metodu `drop()` s neexistujícím názvem sloupce vyzkoušej. Překvapil tě výsledek?

In [240]:
# food_merged_brands = food_merged_brands.drop(columns=["neexistujici_nazev_sloupce"])
# ... key error
# Podobně jako u rename() lze toto chování změnit parametrem errors="ignore"

---

# 3. lekce - Cvičení 2: Agregace a řazení

## 1. Lipidy a tuky

Podívej se nyní na to, které kategorie potravin obsahují nejvíce lipidů (tuků).

Nejprve pomocí dotazu vytvoř novou tabulku `food_merged_brands_lipid`, do které pomocí dotazu vlož pouze řádky, které mají jako název výživné látky hodnotu `Total lipid (fat)`.

In [241]:
# Pozor na název sloupce - v předchozím cvičení přejmenován z 'name' na 'nutrient_name'
food_merged_brands_lipid = food_merged_brands[food_merged_brands["nutrient_name"] == "Total lipid (fat)"]
food_merged_brands_lipid.shape

(21, 36)

Poté proveď agregaci podle názvu kategorie a seřaď výslednou tabulku tak, aby nahoře byly vidět kategorie s největším počtem tuků.

In [242]:
food_merged_brands_lipid_agg = food_merged_brands_lipid.groupby("branded_food_category")["amount"].mean()

# Pro přehlednost zobrazíme pouze prvních deset
# lipid_agg_top10 = food_merged_brands_lipid_agg.sort_values(ascending=False)[:10]
lipid_agg_top10 = food_merged_brands_lipid_agg.sort_values(ascending=False).head(10)

# Bonus: jednodušeji pomocí metody nlargest()
# lipid_agg_top10 = food_merged_brands_lipid_agg.nlargest(10)

lipid_agg_top10

branded_food_category
Nut & Seed Butters                    46.880
Other Snacks                          23.215
Cheese                                21.430
Cookies & Biscuits                    17.860
Frozen Appetizers & Hors D'oeuvres    13.330
Snack, Energy & Granola Bars          10.640
Cake, Cookie & Cupcake Mixes           6.450
Candy                                  5.360
Canned Condensed Soup                  1.200
Canned Vegetables                      0.400
Name: amount, dtype: float64

Porovnej si výslednou tabulku s tabulkou `food_merged_brands_protein_agg`, kterou jsme vytvořili v rámci lekce.

In [243]:
# Příprava DataFramu food_merged_brands_protein_agg pro cvičení, pokud ho ještě nemáme připravený z lekce
food_merged_brands_protein = food_merged_brands[food_merged_brands["nutrient_name"] == "Protein"]
food_merged_brands_protein_agg = food_merged_brands_protein.groupby("branded_food_category")["amount"].mean()

Podívej se, zda se některé kategorie objevují v obou tabulkách.

In [244]:
# protein_agg_top10 = food_merged_brands_protein_agg.sort_values(ascending=False)[:10]
protein_agg_top10 = food_merged_brands_protein_agg.sort_values(ascending=False).head(10)

# Bonus: jednodušeji pomocí metody nlargest()
# protein_agg_top10 = food_merged_brands_protein_agg.nlargest(10)

protein_agg_top10

branded_food_category
Snack, Energy & Granola Bars          31.91
Cheese                                25.00
Nut & Seed Butters                    12.50
Other Snacks                           7.14
Rice                                   6.67
Frozen Appetizers & Hors D'oeuvres     4.00
Cookies & Biscuits                     3.57
Cake, Cookie & Cupcake Mixes           3.23
Canned Condensed Soup                  2.40
Frozen Vegetables                      1.11
Name: amount, dtype: float64

In [245]:
# Bonus: Výpis kategorií společných pro obě tabulky - např. jako průnik množin
# (protein_agg_top10 je Series s názvy kategorií využitými jako index -> názvy získáme přes .index)
set(protein_agg_top10.index) & set(lipid_agg_top10.index)

{'Cake, Cookie & Cupcake Mixes',
 'Canned Condensed Soup',
 'Cheese',
 'Cookies & Biscuits',
 "Frozen Appetizers & Hors D'oeuvres",
 'Nut & Seed Butters',
 'Other Snacks',
 'Snack, Energy & Granola Bars'}

## 2. Výrobci a kategorie

Nyní uvažuj, že si chceme udělat přehled o tom, jaký výrobce produkuje jaké typy potravin.


Proveď agregaci tabulky `food_merged_brands` podle dvou sloupců: `brand_owner` a `branded_food_category`. 

Sloupce musíš metodě `food_merged_brands` zadat jako seznam, tj. musíš použít hranaté závorky.

In [246]:
food_merged_brands_grouped = food_merged_brands.groupby(["brand_owner", "branded_food_category"])
food_merged_brands_grouped


Dále vyber sloupec `fdc_id` pro provedení agregace a použij agregaci `nunique()`, který vrátí počet unikátních hodnot. 

Nakonec použij metodu `sort_values` s tím, že chceš data seřadit sestupně.

In [247]:
food_merged_brands_grouped["fdc_id"].nunique().sort_values(ascending=False)

brand_owner                branded_food_category
Ferrara Candy Company      Candy                                   40
CAMPBELL SOUP COMPANY      Prepared Soups                          29
Danone US, LLC             Yogurt                                  24
Bimbo Bakeries USA, Inc.   Breads & Buns                           24
Wells Enterprises, Inc.    Ice Cream & Frozen Yogurt               24
                                                                   ..
Hempler Foods Group LLC    Sausages, Hotdogs & Brats                1
Heinz USA                  Pickles, Olives, Peppers & Relishes      1
Heinz Frozen Food Company  Canned Soup                              1
Heintz & Weber Co Inc      Ketchup, Mustard, BBQ & Cheese Sauce     1
pure batch LLC             Chocolate                                1
Name: fdc_id, Length: 5892, dtype: int64